:root {
    /* Primary */

    --light-red-CTA-text: hsl(356, 100%, 66%);
    --very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --very-dark-blue-headings: hsl(208, 49%, 24%);

    /* Neutral */

    --white-text: rgb(255, 255, 255);
    --grayish-blue-footer-text: hsl(240, 2%, 79%);
    --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

    /* Gradient */

    /* Background gradient - Intro/CTA mobile nav: */

    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);

    /* Background gradient - body: */

    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
@font-face {
    font-family: 'Overpass';
    src: url('./fonts/Overpass-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('./fonts/Overpass-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Overpass';
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 52px 20px 130px 20px;
    gap: 102px;
    background-image: linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-radius: 0px 0px 0px 82px;
    overflow: hidden;
}
.pattern-mobile {
    position: absolute;
    top: -260px;
    right: -600px;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    z-index: 2;
}
.ul-list {
    display: none;
}
.hamburger-icon {
    cursor: pointer;
}
.nav-buttons {
    display: none;
}
.presentation__container {
    display: grid;
    gap: 10px;
    text-align: center;
    z-index: 3;
}
h1 {
    font-size: 3.8rem;
    font-weight: 500;
    color: var(--white-text);
}
.presentation-p {
    font-size: 2rem;
    font-weight: 300;
    color: var(--white-text);
}
.presentation-buttons {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding-top: 32px;
}
.presentation-buttons > a {
    display: grid;
    place-items: center;
    width: 130px;
    height: 48px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.5s;
}
.presentation-buttons > a:hover {
    color: var(--light-red-CTA-text);
    background-color: white;
}
.presentation-buttons > a:nth-child(1) {
    background-color: white;
    color: var(--light-red-CTA-text);
    border: none;
}
.presentation-buttons > a:nth-child(1):hover {
    color: var(--white-text);
    background-color: rgb(255, 255, 255, 0.2);
}
main {
    
    width: 100%;
    padding: 100px 0px;
}
.first__section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    width: 100%;
    padding-bottom: 270px;
}
.first__section > h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--very-dark-blue-headings);
}
.editor-img {
    width: 100%;
    max-width: 560px;
}
.first-section-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 30px;
    max-width: 600px;
}
.first-section-div > h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--very-dark-blue-headings);
}
.first-section-div > p {
    font-size: 1.7rem;
    line-height: 2.8rem;
    font-weight: 300;
    color: var(--very-dark-grayish-blue-body-copy);
}
.second-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 100%;
    border-radius: 0px 82px 0px 82px;
    padding: 210px 20px 100px 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
    overflow: hidden;
}
.phones {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -186px;
    width: 100%;
    max-width: 375px;
    z-index: 1;
}
.circles {
    position: absolute;
    top: -148px;
    right: 50%;
    transform: translateX(50%);
    width: 500px;
}
.second-section > h2 {
    font-size: 3.4rem;
    font-weight: 700;
    color: var(--white-text);
    z-index: 1;
}
.second-section > p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 300;
    color: var(--grayish-blue-footer-text);
    z-index: 1;
}
.third-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding-top: 60px;
}
.third-section-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 30px;
    max-width: 600px;
}
.third-section-div > h2 {
    font-size: 3.4rem;
    font-weight: 700;
    color: var(--very-dark-blue-headings);
}
.third-section-div > p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 300;
    color: var(--very-dark-grayish-blue-body-copy);
}
footer {
    display: grid;
    gap: 40px;
    width: 100%;
    place-items: center;
    text-align: center;
    padding: 60px 0px;
    background-color: var(--very-dark-black-blue-footer-background);
    border-radius: 0px 82px 0px 0px;
}
footer > img {
    padding-bottom: 20px;
}
.footer-list > h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white-text);
    padding-bottom: 20px;
}
.footer-list > ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
}
.footer-list li > a {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--grayish-blue-footer-text);
    text-decoration: none;
}
.footer-list li > a:hover {
    border-bottom: 1px solid white;
}
.illustration-laptop {
    width: 100%;
    max-width: 560px;
}
.desktop {
    display: none;
}

@media(min-width: 820px) {
    /* header {
        padding: 52px 120px 166px 120px;
    } */
    .left__container {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .ul-list {
        display: flex;
        list-style: none;
        gap: 18px;
    }
    .ul-list > li {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.4rem;
        color: hsl(240deg 4.02% 87.69%);; 
        cursor: pointer;
    }
    .ul-list > li:hover p {
        color: var(--white-text); 
        border-bottom: 1px solid var(--white-text);
    }
    .hamburger-icon {
        display: none;
    }
    .nav-buttons {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .nav-buttons > a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--white-text);
        cursor: pointer;
    }
    .nav-buttons .signup__button {
        display: grid;
        place-items: center;
        width: 120px;
        height: 40px;
        font-weight: 700;
        color: var(--light-red-CTA-text);
        border-radius: 20px;
        background-color: var(--white-text);
        transition: 0.5s;
    }
    .nav-buttons .signup__button:hover {
        color: var(--white-text);
        background-color: rgb(255, 255, 255, 0.2);
    }
    .pattern-desktop {
        position: absolute;
        width: 2100px;
        right: -898px;
        top: -802px;
    }
    h1 {
        font-size: 4.6rem;
    }
}
@media (min-width: 1300px) {
    .editor-img-desktop {
        position: absolute;
        top: -46px;
        right: -278px;
        width: 780px;
    }
    .first__section {
        padding: 0px 120px;
        padding-bottom: 270px;
        overflow-x: clip;
    }
    .first-section-div {
        text-align: start;
        align-self: flex-start;
    }
    .first__section > h2 {
        font-size: 3.4rem;
    }
    .first-section-div > h2 {
        font-size: 3.4rem;
    }
    .first-section-div > p {
        font-size: 1.8rem;
    }
    .phones {
        position: absolute;
        left: 114px;
        transform: none;
        bottom: -428px;
        width: 100%;
        max-width: 446px;
        z-index: 1;
    }
    .second-section {
        height: 360px;
        padding: 104px 186px 100px 20px;
        text-align: start;
    }
    .second-section > h2 {
        width: 476px;
        align-self: flex-end;
    }
    .second-section > p {
        width: 476px;
        align-self: flex-end;
    }
    .circles {
        top: -418px;
        transform: none;
        width: 860px;
        left: -170px;
    }
    .third-section {
        padding: 260px 100px 220px 40px;
    }
    .third-section-div {
        text-align: start;
        align-self: flex-end;
    }
    .illustration-laptop-desktop {
        display: block;
        position: absolute;
        left: -256px;
        width: 908px;
        top: 52px;
    }
    footer {
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        text-align: start; 
        padding: 66px 0px 200px 40px;
        align-items: flex-start;
        justify-items: start;
        justify-content: center;
    }
    .footer-list > h3 {
        padding-bottom: 40px;
    }
    .footer-list > ul {
        gap: 14px;
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}
